# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.history
.svn/
migrate_working_dir/

# Swift Package Manager (if using Swift)
.swiftpm/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code (ممكن تفعّليه لو مش عايزة ترفعي الإعدادات)
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
pubspec.lock

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug/
/android/app/profile/
/android/app/release/

# iOS/macOS artifacts
ios/.symlinks/
ios/Pods/
macos/Flutter/
macos/Pods/
