# Flutter / Dart / Pub related
.dart_tool/
.packages
.pub-cache/
build/
flutter_*.png
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json

# macOS
macos/Flutter/Flutter.podspec
macos/Pods/

# Windows / Linux / Web
linux/flutter/
windows/flutter/
web/.dart_tool/
web/build/

# Coverage
coverage/

# IDEs
.vscode/
.idea/
*.iml
*.ipr
*.iws

# System Files
*.lock
*.log
.DS_Store
Thumbs.db
