# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
.idea/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
macos/Flutter/Flutter.podspec
macos/Pods/
linux/flutter/
windows/flutter/
web/.dart_tool/
web/build/
coverage/

# VS Code
.vscode/

# IntelliJ
*.iml
*.ipr
*.iws


# Others
*.log
*.lock
*.DS_Store
